* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

.titleArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.resetBtnArea {
    display:none;
    position:absolute;
    top:auto;
    right: -75px;
    align-self: center;
}
.infoArea {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 16px;
    text-align: center;

}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}


#gridContainer {
    display: grid;
}
button {
    padding: 3px;
    border-radius: 5px;
    font-weight: 550;
    background-color: #1c2136;
}
label {
    font-weight: 550;
    font-size: 16px;
}
input{
    padding: 3px;
    border-radius: 5px;
    background-color:darkslategray;
}
